* {
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Shippori Mincho", serif;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}
.firstview {
  background-color: rgb(192, 122, 219);
  height: 600px;
  color: #fff;
  position: relative;
  /*background: url(../img/firstview.png)no-repeat;
  background-size: cover;
  background-position: center right;*/
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 45%;
  padding: 10px 30px;
}
.header-ttl {
  font-size: 25px;
  margin-right: 20px;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
  padding-right: 20px;
  padding-top: 10px;
  font-size: 18px;
}
.firstview-ttl {
  position: absolute;
  height: 30%;
  width: 35%;
  top: 45%;
  left: 10%;
  background-color: rgb(205, 174, 206);
  text-align: center;
}
.firstview-ttl-sub {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 22px;
}
